.MainView {
  text-align: left;
  margin: 20px
}

.emailAddress:invalid {
  color: brown;
}

.json {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: monospace;
  background-color:rgb(176, 222, 203);
  text-align: left;
  padding: 10px;
  margin-block: 10px;
}

.json.error {
  background-color:rgb(255, 177, 125);
}
.json.neutral {
  background-color:rgb(219, 219, 219);
}


label {
  padding-top: 10px;
}

.otpResponse {
  margin-top: 10px;
}

.success-text {
  color: rgb(137, 187, 72);
  font-weight: bold;
}

.error-text {
  color: rgb(187, 72, 87);
  font-weight: bold;
}